<div class="container">

  <div class="row justify-content-center text-center">
    <div class="card mt-5 mx-2 mb-3 bg-dark text-white" style="width: 16rem;">
      <div class="card-header">
        <h5 class="card-title">Total</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title"> {{ this.totalProcesos }} </h5>
      </div>
    </div>
  </div>

  <div class="row justify-content-center text-center">
      <div class="card mt-5 mx-2 mb-3 bg-light" style="width: 16rem;">
        <div class="card-header">
          <h5 class="card-title">Ejecución</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ this.procesosEjecucion }}</h5>
        </div>
      </div>

      <div class="card mt-5 mx-2 mb-3 bg-light text-center" style="width: 16rem;">
        <div class="card-header">
          <h5 class="card-title">Suspendido</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ this.procesosSuspendidos }}</h5>
        </div>
      </div>

      <div class="card mt-5 mx-2 mb-3 bg-light text-center" style="width: 16rem;">
        <div class="card-header">
          <h5 class="card-title">Detenidos</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ this.proccesosDetenidos }}</h5>
        </div>
      </div>

      <div class="card mt-5 mx-2 mb-3 bg-light text-center" style="width: 16rem;">
        <div class="card-header">
          <h5 class="card-title">Zombies</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title"> {{ this.procesosZombie }} </h5>
        </div>
      </div>

  </div>

  <br/>
  <br/>
  <br/>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class=" title text-center">
        Procesos del Sistema Operativo 
      </h1>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">PID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col" class="text-center">Kill</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proc of strProcesos">
            <td></td>
            <td>{{ proc.pid }}</td>
            <td>{{ proc.nombre }}</td>
            <td>{{ proc.estado }}</td>
            <td class="text-center"> 
              <button class="btn btn-danger"> 
                <i class="fas fa-skull-crossbones fa-2x"></i>    
            </button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
  <script src="js/datatables/datatables.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $('.datatable').dataTable({
      "sPaginationType": "bs_four_button"
    });	
    $('.datatable').each(function(){
      var datatable = $(this);
      // SEARCH - Add the placeholder for Search and Turn this into in-line form control
      var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
      search_input.attr('placeholder', 'Search');
      search_input.addClass('form-control input-sm');
      // LENGTH - Inline-Form control
      var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
      length_sel.addClass('form-control input-sm');
    });
  });
  </script>
  

</div>